mojo shell should support caching app from http server that doesn't support etag

Currently url_response_disk_cache service (used by mojo shell) is solely depending on the existence of etag in http header, which is optional in the spec. Some http server may not support it. More generic way would be looking at the last-modified field in the header.

Last-modified doesn't tell you anything about the contents of the file, which is what's important here.

IMO this is a WontFix.  etag support is optional but so is caching.

> Last-modified doesn't tell you anything about the contents of the file

That is not true (at least on the spec).
The Last-modified field is supposed to return the time when the selected
"representation" (or the contents) changes. So, if the file is
updated, the Last-modified field should also update even if the new file has the
same modified time (The http server should not simply returns the modified
time of the selected file. It would be a bug if it does.)

According to RFC7232 section 2.2,
  "A representation is typically the sum of many parts behind the
   resource interface.  The last-modified time would usually be the most
   recent time that any of those parts were changed.  How that value is
   determined for any given resource is an implementation detail beyond
   the scope of this specification.  What matters to HTTP is how
   recipients of the Last-Modified header field can use its value to
   make conditional requests and test the validity of locally cached
   responses."

Last-modified tells you when the server thinks something changed but it's only accurate to the second and tells you nothing about what the contents of the bits would be.

To make this discussion more concrete, what HTTP servers are we talking
about?

AFAICT, HTTP 1.1 indicates that it's preferred that servers send both and
ETag and Last-modified (and that clients should be conservative if both are
available).

But if we're talking about HTTP 1.0, then all bets are off about semantics.

On Mon, Nov 30, 2015 at 4:27 PM, James Robinson <notifications@github.com>
wrote:

> Last-modified tells you when the server thinks something changed but it's
> only accurate to the second and tells you nothing about what the contents
> of the bits would be.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/domokit/mojo/issues/569#issuecomment-160807629>.
>


No, I'm not talking about any specific http servers here.
(Actually the one I tested does not correctly implement Last-modified
field. So I'm OK to close this. I raised the issue mostly to clarify the expected
caching behavior against any http servers in the future.)